header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banniere {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 500px;
    line-height: 60px;

    span {
        color: #BE0026;
        font-size: 2.5rem;
    }
}

.img {
    width: 500px;
    height: 350px;
    margin: 0 auto;
}