main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 100px;
    max-width: 600px;
    height: 400px;
    background-color: $color-secondary;
    border-radius: 20px;
    border: $color-primary dashed 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    .content {
        width: 450px;
        background-color: $color-tertiary ;
        padding: 20px;
        border-radius: 20px;
      h2 {
        margin-bottom: 20px;
      }
    }
  }

  .cuisine {
    background-image: url(../../assets/img/cuisine.webp);
  }

  .paysage {
    background-image: url(../../assets/img/paysageC.webp);
  }

  .visite {
    background-image: url(../../assets/img/visite.webp);
  }
}


