

$title: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$text: Verdana, Geneva, Tahoma, sans-serif;;
$color-primary: #e6e8ff;
$color-secondary: #35363f;
$color-tertiary: #BE0026;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url(../../assets/img/paysage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  
}
body {
    background-color: $color-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title;
    color: $color-primary;
}

p {
    font-family: $text;
    color: $color-primary;
    font-size: 15px;
}

li {
    list-style: none;
    font-family: $text;


    a {
        text-decoration: none;
        font-family: $text;
    }
}

a {
    text-decoration: none;
    font-family: $text;
    color: #e6e8ff;
}