*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: url(../../assets/img/paysage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  background-color: #35363f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #e6e8ff;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e6e8ff;
  font-size: 15px;
}

li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e6e8ff;
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px dashed #e6e8ff;
  height: 100px;
  background-color: #35363f;
  opacity: 0.8;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
nav ul a {
  padding: 0 50px;
  width: 110%;
  height: 50px;
  color: #e6e8ff;
  transition: 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav ul a:hover {
  background-color: #e6e8ff;
  color: #35363f;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-top: 1px dashed #e6e8ff;
  margin-top: 150px;
  background-color: #35363f;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.banniere {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start .arrow {
  background-color: #BE0026;
  padding: 10px;
  border-radius: 50%;
  margin-top: 20px;
  border: 1px dashed #e6e8ff;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 500px;
  line-height: 60px;
}
.title span {
  color: #BE0026;
  font-size: 2.5rem;
}

.img {
  width: 300px;
  height: 200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
main .cuisine {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 100px;
  background-color: #35363f;
  border-radius: 20px;
  border: #e6e8ff dashed 1px;
}
main .cuisine .cuisine-content {
  width: 450px;
  margin-right: 50px;
}
main .cuisine .cuisine-content h2 {
  margin-bottom: 20px;
}
main .paysage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 100px;
  background-color: #35363f;
  border-radius: 20px;
  border: #e6e8ff dashed 1px;
}
main .paysage .paysage-content {
  width: 450px;
  margin-left: 50px;
  order: 2;
}
main .paysage .paysage-content h2 {
  margin-bottom: 20px;
}
main .visite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 100px;
  background-color: #35363f;
  border-radius: 20px;
  border: #e6e8ff dashed 1px;
}
main .visite .visite-content {
  width: 450px;
  margin-right: 50px;
}
main .visite .visite-content h2 {
  margin-bottom: 20px;
}

.imgCards {
  width: 300px;
  height: 400px;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}/*# sourceMappingURL=index.css.map */